* {
	line-height: 20px;
	border: none;
	padding: 0;
	margin: 0;
}

div.clear
{
	clear: both;
}

body {
	background-color: #59b4d3;
	font-family: "Roboto", arial, sans-serif;
}


#logo
{
	background: #b50f25;
	height: 50px;
	padding: 5px;
}
#logo h1
{
	background: url(../img/small_logo.png) no-repeat center center;
	text-indent: -9999px;
	height: 60px;
}
.student-button,
.teacher-button
{
	float: left;
	width: 40%;
	height: 300px;
	margin: 5%;
	display: block;
}

.student-screen
{
	background:#222; 
}

.teacher-screen
{
	background:#d5d5d5;
	height: 100%;
	padding-top: 20px;
}


.teacher-button {
	background: url(../img/professor.png) no-repeat center center;
	background-size: 100%;
	background-size: contain;
}

.student-button {
	background: url(../img/aluno.png) no-repeat center center;
	background-size: 100%;
	background-size: contain;
}

.color-button {
	width: 50px;
	height: 50px;
	float: left;
	margin: 5px;
	border: solid 3px transparent;
}

.color-button.selected {
	border: solid 3px #000000;
}


.group {
	border-radius: 5px;
	padding:1.5rem;
	box-shadow:0 1px 2px #aaa;
	background:white;
	margin:0 1rem 1rem;
	border-radius:3px;
	user-select:none;
	animation:fly-in-from-left .5s 1s ease both;
	transform-origin:top left;
}

.group p {
	float: left;
	width: 70%;
	font-size: 16pt;
	line-height: 25pt;
}

.group a{
	display: block;
	float: right;
	width: 20%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: contain !important;
	height: 150px;
}

.vibrate-button {
	padding: 5px;
	margin: 5px;
	border: solid 3px transparent;
	background-color: #FFFFFF;
}

.vibrate-button:hover {
	background-color: #DDDDDD;
}

.vibrate-button:active {
	background-color: #FFEEEE;
}

.vibrate-button.selected {
	border: solid 3px #000000;
	background-color: #FFEEEE;
}

.button {
	clear: both;
	float: left;
	margin-top: 30px;
	padding: 5px;
	border: solid 3px #AAAAFF;
	background-color: #DDDDFF;
}

div.message {
	clear: both;
	float: left;

}
